<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>CMA--{% block title %}{% endblock %}</title>
		<!-- <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css"> -->
		<!-- <link rel="stylesheet" media="screen" href ="static/bootstrap-theme.min.css"> -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- For detsils on Boostrao see https://getbootstrap.com/ -->
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
		{% block header %}{% endblock %}
	</head>
	<body>
		<div class="header"><br>
			<div class="container" align="center"><br>
				<div class="col-md-8" align="left">
					<center>
						<h1 align="center"><img src="{{url_for('static', filename='LOGO.png')}}" alt="LOGO" width="100%"/></h1>
					</center>
				</div>
			</div>
		</div>
		<div class="container" align="center"><br>
			<div class="col-md-8" align="left">
				<div align="left">
					{% block content %}{% endblock %}
					{% with messages = get_flashed_messages(with_categories=true) %}
						{% if messages %}
							{% for message in messages %}
								{% if "Error" in message[1]: %}
									<div class="alert alert-danger">
										{{ message[1] }}
									</div>
								{% else %}
									<div class="alert alert-success">
										{{ message[1] }}
									</div>
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endwith %}
					{% block body %}
					{% endblock %}
				</div>
			</div>
		</div>
		<div class="container" align="center"><br>
			<div class="col-md-8" align="left">
				<div align="left">
					<hr>
					<p><b>Notes:</b> Share your knowledge. It's a way to achieve immortality.
					<i>Dalai Lama</i> </p>
					<hr>
					<p><b>Contact Information:</b>How can people find you.</p>
					<hr>
					<p><b>Other Links:</b>Whatever makes you happy.</p>
					<hr>
					<p><b>How to Cite:</b>Enter citation here.</p>
					<hr>
					<p><b>Acknowledgements:</b></p>
					<style>
						.flex-container {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: stretch;
						}
					</style>
					<div class="flex-container">
						<div>
							<img src="{{url_for('static', filename='logo1.png')}}" alt="logo1" height="48">
						</div>
						<div>
							<img src="{{url_for('static', filename='logo2.png')}}" alt="logo2" height="48">
						</div>
						<div>
							<img src="{{url_for('static', filename='logo3.png')}}" alt="logo3" height="48">
						</div>
						<div>
							<img src="{{url_for('static', filename='logo4.png')}}" alt="logo4" height="48">
						</div>
					</div>
					<br>
				</div>
			</div>
		</div>
	</body>
	{% block footer %}{% endblock %}
</html>

