{% extends "layout.html" %}
{% block title %}Loading{% endblock %}
{% block header %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
{% endblock %}
{% block content %}
<form action="/loading/" method="post" role="form" enctype="multipart/form-data" enctype = "multipart/form-data">
	<center>
		<p>Please wait while we process your request.</p>
		<hr>
			<img src="{{url_for('static', filename='loading.gif')}}" alt="Loading" title="Pleas wait" />
		<hr>
	</center>
</form>
{% endblock %}
{% block footer %}
<SCRIPT LANGUAGE="JavaScript">document.forms[0].submit();</SCRIPT>
{% endblock %}
